 <aside>
            <div class="user-header">
           

                <img
    src="<%= user.profileImage && user.profileImage !== '' 
          ? user.profileImage 
          : '/images/default avatar ong.jpg' %>"
    alt="User"
       class="sidebar-profile-img"
  >
            
                <%= user.name %>

            </div>
            <a href="#" class="menu-item active"><i class="fas fa-th-large"></i> Account Overview</a>
            <a href="#" class="menu-item"><i class="fas fa-box"></i> My Orders</a>
            <a href="/address" class="menu-item"><i class="fas fa-address-book"></i> Manage Addresses</a>
            <a href="#" class="menu-item"><i class="fas fa-wallet"></i> Wallet</a>
            <a href="#" class="menu-item"><i class="fas fa-ticket-alt"></i> coupons</a>
            <a href="#" class="menu-item"><i class="fas fa-users"></i> Refer & Earn</a>
            <a href="#" class="menu-item" style="margin-top: 60px; border-bottom: none;"><i class="fas fa-sign-out-alt"></i> logout</a>
        </aside>


        <style>
            /* Sidebar profile image fix */
.sidebar-profile-img {
  width: 70px !important;
  height: 70px !important;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

        </style>